<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		table {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		table td, table th {
		  border: 0px solid #ddd;
		  padding: 8px;
		}

		table tr:nth-child(even){background-color: #f2f2f2;}

		table tr:hover {background-color: #ddd;}

		table th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #f2f2f2;
		  color: #000;
		  text-align: center;
		}
	</style>
</head>
<body style="font-family:system-ui">
	<div style="width:100%">
		<div>
			<h1 style="color:#6f6666">QUOTATION</h1>
		</div>
		<div style="display: flex; justify-content: space-between; margin: 20px 0">
			<div style="text-align: left;">
				<p style="margin: 5px 0; font-size: 12px;">Quoted To:</p>
				<p style="border-bottom: 1px solid; margin:5px 0; display: inline-block;">Pratik Patel</p>
				<p style="margin: 5px 0; font-size: 12px;">F-6, Dev Aditya Arcade <br> Thalteh-Shilaj Road <br> Ahmedabad - 380059</p>
			</div>
			<div style="text-align: center;">
				<img src="https://i.pinimg.com/564x/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" style="width:100px" />
			</div>
			<div style="text-align: right">
				<div style="text-align: left; display: inline-block;">
					<p style="margin: 5px 0; font-size: 12px;">Quoted From:</p>
					<p style="border-bottom: 1px solid; margin: 5px 0; display: inline-block;">Neon Lights</p>
					<p style="margin: 5px 0; font-size: 12px;">F-6, Dev Aditya Arcade <br> Thalteh-Shilaj Road <br> Ahmedabad - 380059</p>
					<p style="margin: 5px 0; font-size: 12px;">Phone: +91 7698923527</p>
					<p style="margin: 5px 0; font-size: 12px;">Mail: neonlights@gmail.com</p>
					<p style="margin: 5px 0; font-size: 12px;color:blue;border-bottom: 1;display: inline-block;">Web: neonlighthouse.in</p>
				</div>
			</div>
		</div>
		<div>
			<div style="width:50%"></div>
			<div style="width:50%"></div>
		</div>
		<div>
			<table style="width:100%">
				<thead>
					<tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Color</th>
                        <th>Watt</th>
                        <th>Nos</th>
                        <th>Unit</th>
                        <th>Rate</th>
                        <th>Amount</th>
                      </tr>
				</thead>
				<tbody style="text-align: center;">
					<tr>
						<td>SN</td>
                        <td>Product</td>
                        <td>Color</td>
                        <td>Watt</td>
                        <td>Nos</td>
                        <td>Unit</td>
                        <td>Rate</td>
                        <td>Amount</td>
					</tr>
					<tr>
                        <td colspan="7" style="text-align: right">
                            Discount
                        </td>
                        <td>
                            40
                        </td>
                    </tr>        
                    <tr>
                        <td colspan="7" style="text-align: right">
                            Total
                        </td>
                        <td>
                            1400
                        </td>
                    </tr>        
				</tbody>
			</table>
		</div>
		<div>
			<p style="display: inline-block;border-bottom: 1px solid">Note</p>
			<ol>
				<li>All products have 2 year warranty</li>
				<li>GST EXTRA APPLICABLE</li>
			</ol>
		</div>
		<div>
			<p style="text-align: center;">If you have any questions concerning this quote, contact: Sarthak Patel at +918980811178 or neonlights@gmail.com</p>
		</div>
	</div>
</body>
</html>